<h1>Thank you! <%= @user.name %> , your comment was successfully posted! </h1>
<p>Here is your comment " <span id="comment"> <%= @c.content %>" </span>, click on our logo to return to the previous page:) </p>
