<h1>Thank you! <%= @name %> , your comments were successfully sent! </h1>
<p>Here is your comment " <span id="comment"> <%= @comment %>" </span>, click on our logo to return to the previous page:) </p>
