 <div id="centerOpaque">
 
 <h2 id="titlertxt"> What in the world is Dream@t!c ??? </h2> 
<div id="textContainer">
<div id="brand">
<p id="intro"> Dreamatic(stylized as "Dream@t!c") is developed by <a href="http://www.facebook.com/vigo.wei"> Yucheng Vigo Wei</a> at <a href="http://www.wustl.edu">Washington University </a>. <br/> 
The word can be pronounced as is or "dream at tic". <br/>  It's a verb that refers to <strong> dream and do </strong>. <br/> It's a noun meaning <strong>passion and bravery</strong>. <br/>
 It's a spirit, a trend, a belief called "<cite> it's never too late to get dreamatic'd </cite>". <br/>
 Dreams are precious and time goes by fast, if you have a goal to achieve, take actions right now. Every tick counts! <br/> 
<br/> <br/>

"I wish I had someone to help me carry out this plan! I know it's going to be a success!",<br/> 
"I am in college and I have a good idea of building a autonomous system to help people with disabilities, but I can't afford the device needed", <br/> 
"I thought about cloud computing 10 years ago, but I didn't look into it because I wasn't sure whether it would work out..." <br/> 

We believe that dreams are powerful and they can change your life! <br/> 
We want to inspire our users to dream and to make their dreams come true. <br/> 

<br/> <strong> Uncommon success.</strong> <br/> 

<br/> We believe that everyone should have the chance to make their dreams come true.<br/> 
No matter you are a local small business looking to promote yourself or a young promising college student in need of fund to carry out a project, no matter what you are doing, no matter where you are, we believe that if you dare, dream and do, you will succeed. <br/>

Now, with my peers I cordially invite you, one of the millions of brave and passionate dreamers, to join the community and share with others your unique dreams, you can inspire others and get connected (that's how you get help as well)!<br/> <br/>

All you need to do is to register and post your dreams to make other people and our sponsors see it and help you! You can also offer help to others. 
We will invite companys/organizations to sponsor those quality dreams [see <%= link_to "policy: what are quality dreams?", :action=>'standards'%>], either by endowment or advertising! <br/> 

<br/>

I hope this site can help you realize your wonderful dreams! <br/> <br/>
<span id="motto">Good luck :)<br/>

-- dreamatically yours, <br/>
Vigo</span>
</div>
<div id="divider"></div>
<br/><br/>

</p>

<div id ="logobrand"> <img src="../images/logonevertoolate.png" alt="Be the One!"/> </div>
</div>
</div>
