<div id="centerOpaque">
<h1> Dream@tic (dreamatic.org) Policies </h1>
<div id="textContainer">

<div id="policy">
<p> <h2>*PRIVACY*</h2> </br>
 We are working our best to protect your privacy, which we value the most. However, at this point we can not guarantee that your data is 100% protected due to unprecedented attacks. We do promise that your data will not be revealed to the third party by the website. </p>
</hr>
<p> <h2>*SHARING* </h2> </br> 
When posting a dream, you can choose from "private" and "public". When "private" is selected, your post will only be available to yourself. By selecting "public", you agree that other users and sponsors can view your posts. 
For intellectual properties, for example, your ideas, your project proposals, we will provide a time stamp (time posted). We value creativity, and try our best to protect the ownership of original ideas. However, the time stamp can't be used as a legal proof for your patent yet. 
</br>[we will work out a solution to this problem soon once we have had enough legal consultation] </p>
</hr>
<p> <h2> *CONTENT* </h2> <br/>
Content (dream posts, comments, profile pictures):</br>
-- conveying illegal information (drugs, racial discrimination, violence etc). </br>
-- making explicit and offensive reference to sex or bodily functions.</br>
-- containing solicitation </br>
-- attacking individuals 
</br> </br>
 is strictly <span id="warning">PROHIBITED</span>. <br/><br/>
Profile pictures should be yourself or pictures you have permission to use. The website is not responsible for any intellectual property violation due to any misuse of pictures.
<br/> Pictures/accounts could potentially be deleted once flagged. <br/>
<br/> <span id="warning"> Violation of rules above will cause <strong> permanent removal </strong> of your account. </span> </p> <br/>
<hr/>
<p> <h2>Quality Dreams </h2> </br>
Quality Dreams will sate the following standards:</br>

  1)select appropriate category</br>
  2)point out the motivation of the dream </br>
  3)details (inspiration, procedures to carry the plan out, forms of events) included. </br>
  4)timelines</br>
  5)resources needed or equivalent estimated budget</br>
  
  [read <%= link_to "more", :action => :standards%> ]

</p>
</div> 
 </div> 
  </div>
