 <div id="centerOpaque">
  <h1>What Are Quality Dreams?? </h1> </br>

 <div id="textContainer">

<h2> Quality dreams should sate the following standards: </h2> </br>
<p id="intro">
  1)select appropriate category</br>
  2)point out the motivation of the dream </br>
  3)details (inspiration, procedures to carry the plan out, forms of events) included. </br>
  4)timelines</br>
  5)resources needed or equivalent estimated budget</br>

</p>
<h2> An Example: </h2> </br>

<p id="intro">
  Content: <br/> 
  I'm a local farmer and looking to build a website for my goods. I'm willing to offer my products at a lower price to Greencastle residents. All the produces are organic and 
  I also supply dairy products. I'd like to hire a DePauw student to help me build the website. She or he can work remotely at home and this will be a summer project.
  Anyone willing to donate money and co-fund this employment? Please contact me or leave you contact information. </br></br>
  Resources needed:<br/>
  a student/professional who is able to work during the summer and has the skills to build a dynamic website 
  </br>
  and $1000</br></br>
  Expected employment period: May 21st -- Aug 10th </br></br>
  Pay rate: one time payment upon completion of the project, $1000 + amount determined by sponsors </br></br>
  
  Category: other</br></br>
  Privacy: public</br>
  

</p>

</div>
  </div>