// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
background-image: url('/images/bg.gif');
background-repeat:repeat-x;
background-repeat:repeat-y;
}