<h1>Your Dream is successfully submitted!</h1>
<p>Posts need to be reviewed by the admin, it takes some time for your dream posts to show up on the homepage. However, you can always review your dreams on your personal page. <br/> 
Click the Dreamat!c logo to go back :)</p>
